.filter__inner {
    overflow: hidden;
    max-height: 26rem; 
}
.filter__scroll {
    overflow-y: scroll;
}

.filter__title {
    font-weight: 700; 
    font-size: 1.4rem;
    color: #BDBDBD
}
.filter__item {
    position: relative;
    margin: 1rem auto; 
}

.filter__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}
.filter__label {
    color: #4F4F4F;
    padding-left: 25px;
    font-weight: 400;
}
.filter__label::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    background-color: var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.filter__label::after {
    content: "";
    display: block;
    height: 16px;
    width: 16px;
    background: url(../../../images/check_mark.svg) center no-repeat;
    background-size: 10px 10px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.filter__input:checked + .filter__label {
    font-weight: 700;
}
.filter__input:checked + .filter__label::before {
    border: 1px solid var(--color-green);
}
.filter__input:checked + .filter__label::after {
    opacity: 1;
}

