.shopReviews__section {
    background-color: var(--color-primary);
    padding: 12rem 0;
}
.shopReviews {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.sr__photo {
    max-width: 32%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.sr__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sr__title {
    font-family: "Karton";
    font-size: 2.6rem;
}
.sr_pictures {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sr__img {
    width: 16.8rem;
    height: 16.8rem;
    display: block;
    object-fit: cover;
    margin: 1.5rem 0;
}

.sr__text {
    max-width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
