.quantity {
    display: flex;
    align-items: center;
}
.gray__btn {
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 4px;
    background-color: #E0E0E0;
    cursor: pointer;
    border: none;
    margin-right: 2.3rem;
}
.green__btn {
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 4px;
    background-color: var(--color-green);
    cursor: pointer;
    border: none;
    color: var(--color-white); 
    margin-left: 2.3rem;
}
.quantity__span {
    font-weight: 700;
}