.tag__green {
    color: var(--color-white);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    border-radius: 3px 10px 3px 10px;
    background-color: var(--color-green);
    width: 8.5rem;
    height: 2.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    padding: .7rem auto;
    text-align: center;
    box-shadow: var(--shadow);
}
.tag__orange {
    color: var(--color-white);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    border-radius: 3px 10px 3px 10px;
    background-color: #F2994A;
    width: 8.5rem;
    height: 2.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    padding: .7rem auto 0;
    text-align: center;
    box-shadow: var(--shadow);
}