.steps__section {
    padding: 8rem 0 9rem;
    background-color: var(--color-white);
    position: relative;
}
.steps__img {
    position: absolute;
    display: block;
    object-fit: cover;
}
#daubGreenLeft {
    width: 79.3rem;
    height: 89.9rem;
    left: -40%;
    top: -10%;
    transform: rotate(40deg);
}
#daubGreenRight {
    width: 89.1rem;
    height: 100.1rem;
    right: -55%;
    top: -30%;
    transform: rotate(42deg);
}
#daubRedLeft {
    width: 47.3rem;
    height: 48.6rem;
    left: -20%;
    top: 40%;
    opacity: .3;
}
#daubRedRight {
    width: 47.3rem;
    height: 48.6rem;
    right: -20%;
    top: -40%;
    opacity: .3;
    transform: rotate(-110deg);
}
#leftBranch {
    width: 37.3rem;
    height: 35.4rem;
    top: -25%;
    left: -12%;
    transform: rotate(170deg);
}
#rightBranch {
    width: 37.3rem;
    height: 35.4rem;
    top: 60%;
    right: -8%;
    transform: rotate(-215deg);
}
.steps__header {
    font-family: "Karton";
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 1.6rem;
}
.steps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.steps__item {
    width: 50%;
    display: flex;
    min-height: 13.8rem;
    margin: 3.2rem auto;
}
.steps__id {
    width: 50%;
    background: url("../../../images/shop-img/wreath.png") center no-repeat;
    background-size: 145px 138px;
}
.steps__number {
    position: relative;
    z-index: 20;
    top: 25%;
    font-size: 5rem;
    font-weight: 300;
    text-align: center;
    align-items: center;
}
.steps__group {
    width: 50%;
    margin: auto;
}
.steps__title {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-green);
}